

html{
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  background-image: url('../img/back.jpg');
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
}

#solicit{
  border: 1px solid #ccc;
  position: absolute;
  padding: 10px;
  z-index: 5;
  width: 200px;
  height: 400px;
    margin-left: 10px;
    margin-top: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px solid;
}


*, ::after, ::before {
  box-sizing: border-box;
}

body{
  font-family: 'Epilogue', sans-serif;
  max-width: 100%;
  
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.main {
  flex-grow: 1;
  display: flex;
  width: 100%;
  min-width: 100%;
  align-items:center;
  justify-content: center;
}

.navbar{
  display: flex;
  align-items: center;
  justify-content:center;
  background-color: #FFF;
  width: 150%;
  padding: 2%;
  box-shadow: 0.125rem 0.125rem 0.250rem rgba(51, 51, 51, 0.5);
}

.container{
  padding-top: 3%;

}

.row{
  display: flex;
  justify-content: center;
  align-content: center;
}

.column{
  flex-basis: calc(100% / 2 - 2rem);
  margin: 1rem;
}

.title{
  color: rgb(0, 0, 0);
  font-size: 1.5rem;
  text-align: center;
}

.button-container{
  text-align:center;
  margin-top: 1rem;
}

.button{
  height: 3.625rem;
  width: 11.25rem;
  background-color: #FFF;
  color: #000000;
  border-radius: 0.625rem;
  font-size: 1.125rem;
  display:flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-weight: bold;
  border: 0;
  margin:auto;
  box-shadow: 0.125rem 0.125rem 0.250rem rgba(51, 51, 51, 0.5);
}

.uf {
  padding: 9px;
  border-radius: 10px;
  height: 35px;
  border: none;
  box-shadow: inset 0 0.0625em 0.125em rgb(10 10 10 / 5%);

}


.button > *{
  margin: .5rem;
}

@media screen and (max-width: 1200px) {
  .container{
    width: 60%;
  }

  .row{
    flex-direction: column;

  }
}

@media screen and (max-width: 480px) {
  .container{
    width: 90%;
  }

  .row{
    flex-direction: column;
  }
}